[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Dependencies/Jolt"]
	path = Dependencies/Jolt
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "PixieEngineCore/Source/Dependencies/JoltPhysics"]
	path = PixieEngineCore/Source/Dependencies/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "Dependencies/JoltPhysics"]
	path = Dependencies/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
